# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Machine Learning Models
# ==============================
*.pkl
data/models/

# ==============================
# Generated Reports
# ==============================
reports/*
!reports/.gitkeep

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Logs
# ==============================
*.log

# ==============================
# System Files
# ==============================
.DS_Store
Thumbs.db